{
  "http_interactions": [
    {
      "recorded_at": "2017-11-27T21:45:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-11-27T21:45:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t5\", \"data\": {\"user_is_contributor\": true, \"banner_img\": \"\", \"user_flair_text\": null, \"submit_text_html\": null, \"user_is_banned\": false, \"wiki_enabled\": true, \"show_media\": false, \"id\": \"390u2\", \"description\": \"\", \"submit_text\": \"\", \"user_can_flair_in_sr\": true, \"display_name\": \"ThirdRealm\", \"header_img\": null, \"description_html\": null, \"title\": \"[this](http://google.com) is a link\", \"collapse_deleted_comments\": false, \"user_has_favorited\": false, \"public_description\": \"\", \"over18\": false, \"public_description_html\": null, \"spoilers_enabled\": true, \"icon_size\": null, \"audience_target\": \"\", \"suggested_comment_sort\": null, \"active_user_count\": 7, \"icon_img\": \"\", \"header_title\": null, \"display_name_prefixed\": \"r/ThirdRealm\", \"user_is_muted\": false, \"submit_link_label\": null, \"accounts_active\": 7, \"public_traffic\": false, \"header_size\": null, \"subscribers\": 1, \"user_flair_css_class\": null, \"submit_text_label\": null, \"key_color\": \"\", \"user_sr_flair_enabled\": true, \"lang\": \"en\", \"is_enrolled_in_new_modmail\": true, \"whitelist_status\": null, \"name\": \"t5_390u2\", \"user_flair_enabled_in_sr\": true, \"created\": 1436378089.0, \"url\": \"/r/ThirdRealm/\", \"quarantine\": false, \"hide_ads\": false, \"created_utc\": 1436349289.0, \"banner_size\": null, \"user_is_moderator\": true, \"allow_discovery\": true, \"accounts_active_is_fuzzed\": false, \"advertiser_category\": null, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"allow_images\": true, \"show_media_preview\": true, \"comment_score_hide_mins\": 0, \"subreddit_type\": \"private\", \"submission_type\": \"any\", \"user_is_subscriber\": false}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "282",
          "x-ratelimit-used": "7"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-11-27T21:45:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/about/moderators/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1436349289.0, \"id\": \"t2_3221r\", \"name\": \"<USERNAME>\"}, {\"author_flair_css_class\": \"\", \"author_flair_text\": \"ayy lmao\", \"mod_permissions\": [\"all\"], \"date\": 1465092773.0, \"id\": \"t2_xw27h\", \"name\": \"BJO_test_mod\"}, {\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1485809791.0, \"id\": \"t2_nmqzc\", \"name\": \"BernardJOrtcutt\"}, {\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1497831441.0, \"id\": \"t2_16r83m\", \"name\": \"L72_Elite_Kraken\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "282",
          "x-ratelimit-used": "8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/ThirdRealm/about/moderators/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-11-27T21:45:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/about/reports/?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/ThirdRealm/comments/7fyr93/test_post/\", \"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"link_title\": \"Test post\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_7fyr93\", \"link_author\": \"BJO_test_user\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dqfauuu\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"BJO_test_user\", \"num_comments\": 2, \"can_mod_post\": true, \"ups\": 1, \"parent_id\": \"t3_7fyr93\", \"score\": 1, \"approved_by\": null, \"over_18\": false, \"downs\": 0, \"body\": \"Test comment\", \"edited\": false, \"author_flair_css_class\": \"\", \"collapsed\": false, \"is_submitter\": true, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest comment\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": false, \"can_gild\": true, \"removed\": false, \"approved\": false, \"score_hidden\": false, \"permalink\": \"/r/ThirdRealm/comments/7fyr93/test_post/dqfauuu/\", \"subreddit_type\": \"private\", \"link_permalink\": \"https://www.reddit.com/r/ThirdRealm/comments/7fyr93/test_post/\", \"name\": \"t1_dqfauuu\", \"created\": 1511847883.0, \"subreddit\": \"ThirdRealm\", \"author_flair_text\": \"ayy .:lmao\", \"quarantine\": false, \"spam\": false, \"created_utc\": 1511819083.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"controversiality\": 0, \"ignore_reports\": false, \"mod_reports\": [[\"n\", \"<USERNAME>\"]], \"num_reports\": 1, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/ThirdRealm/comments/7fypwq/this_is_a_test_post/\", \"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"link_title\": \"This is a test post\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_7fypwq\", \"link_author\": \"BJO_test_user\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dqfakvg\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": false, [...]
    {
      "recorded_at": "2017-11-27T21:45:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/7fyr93/_/dqfauuu?context=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.ThirdRealm\", \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"ThirdRealm\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"link_flair_text\": null, \"id\": \"7fyr93\", \"banned_at_utc\": null, \"view_count\": 1, \"archived\": false, \"clicked\": false, \"report_reasons\": [], \"author\": \"BJO_test_user\", \"num_crossposts\": 0, \"saved\": false, \"can_mod_post\": true, \"is_crosspostable\": false, \"pinned\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 2, \"thumbnail\": \"\", \"subreddit_id\": \"t5_390u2\", \"hide_score\": false, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": \"\", \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"brand_safe\": false, \"secure_media_embed\": {}, \"removal_reason\": null, \"spam\": false, \"can_gild\": true, \"is_self\": true, \"removed\": false, \"approved\": false, \"parent_whitelist_status\": null, \"name\": \"t3_7fyr93\", \"spoiler\": false, \"permalink\": \"/r/ThirdRealm/comments/7fyr93/test_post/\", \"num_reports\": 0, \"whitelist_status\": null, \"stickied\": false, \"created\": 1511847878.0, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/7fyr93/test_post/\", \"author_flair_text\": \"ayy .:lmao\", \"quarantine\": false, \"title\": \"Test post\", \"created_utc\": 1511819078.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"distinguished\": null, \"media\": null, \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"mod_reports\": [], \"visited\": false, \"subreddit_type\": \"private\", \"is_video\": false, \"ups\": 1}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_7fyr93\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, [...]
    {
      "recorded_at": "2017-11-27T21:45:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_dqfauz5&spam=False"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/remove/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "281",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/remove/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-11-27T21:45:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t1_dqfauuu&spam=False"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/remove/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "281",
          "x-ratelimit-used": "12"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/remove/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}