{
  "http_interactions": [
    {
      "recorded_at": "2017-01-12T18:23:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-12T18:23:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/5e7w80/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"ThirdRealm\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"5e7w80\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": [], \"author\": \"BJO_test_user\", \"media\": null, \"score\": 1, \"approved_by\": \"TheGrammarBolshevik\", \"over_18\": false, \"domain\": \"self.ThirdRealm\", \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_390u2\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": \"\", \"downs\": 0, \"archived\": false, \"removal_reason\": null, \"spam\": false, \"stickied\": false, \"is_self\": true, \"removed\": false, \"approved\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/ThirdRealm/comments/5e7w80/browsertesttest_scan_post/\", \"locked\": false, \"name\": \"t3_5e7w80\", \"created\": 1479806124.0, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/5e7w80/browsertesttest_scan_post/\", \"author_flair_text\": \"ayy .:lmao\", \"quarantine\": false, \"title\": \"BrowserTest.test_scan_post\", \"created_utc\": 1479777324.0, \"link_flair_text\": null, \"ups\": 1, \"upvote_ratio\": 1.0, \"mod_reports\": [], \"visited\": false, \"num_reports\": 0, \"distinguished\": null}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [], \"after\": null, \"before\": null}}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "414",
          "x-ratelimit-used": "7",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=gqz3wpkrLqGEfzYg90edHvMIw8P1QKPjTuFyB2PrQEZKaL3a6ZNMbIysz0mnJtpXo0rt9JwzqsbCH81OLDiqREGezTsHMmzU"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/comments/5e7w80/?limit=2048&sort=best&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-12T18:23:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t5\", \"data\": {\"banner_img\": \"\", \"submit_text_html\": null, \"user_is_banned\": false, \"wiki_enabled\": true, \"show_media\": false, \"id\": \"390u2\", \"user_is_contributor\": true, \"submit_text\": \"\", \"display_name\": \"ThirdRealm\", \"header_img\": null, \"description_html\": null, \"title\": \"Frege's platonic heaven\", \"collapse_deleted_comments\": false, \"public_description\": \"\", \"over18\": false, \"public_description_html\": null, \"spoilers_enabled\": false, \"icon_size\": null, \"suggested_comment_sort\": null, \"icon_img\": \"\", \"header_title\": null, \"description\": \"\", \"user_is_muted\": false, \"submit_link_label\": null, \"accounts_active\": 2, \"public_traffic\": false, \"header_size\": null, \"subscribers\": 1, \"submit_text_label\": null, \"lang\": \"en\", \"key_color\": \"\", \"name\": \"t5_390u2\", \"created\": 1436378089.0, \"url\": \"/r/ThirdRealm/\", \"quarantine\": false, \"hide_ads\": false, \"created_utc\": 1436349289.0, \"banner_size\": null, \"user_is_moderator\": true, \"user_sr_theme_enabled\": true, \"show_media_preview\": true, \"comment_score_hide_mins\": 0, \"subreddit_type\": \"private\", \"submission_type\": \"any\", \"user_is_subscriber\": false}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "414",
          "x-ratelimit-used": "8",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=5hH0hxcF6FSCGqbND2WOqH9e%2FSxFo7q0pNUKThu48VJ1bnHtC%2F0GpUaYpOzrUTiboi69%2FIY87NXUtwabvGF63EYHlEMyrFgT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-12T18:23:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&text=A+notifcation&thing_id=t3_5e7w80"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/comment/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5e7w80\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dcc9snh\", \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"parent_id\": \"t3_5e7w80\", \"score\": 1, \"approved_by\": null, \"controversiality\": 0, \"body\": \"A notifcation\", \"edited\": false, \"author_flair_css_class\": \"\", \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA notifcation\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"subreddit\": \"ThirdRealm\", \"name\": \"t1_dcc9snh\", \"score_hidden\": false, \"stickied\": false, \"created\": 1484274186.0, \"author_flair_text\": \"ayy lmao\", \"created_utc\": 1484245386.0, \"distinguished\": null, \"mod_reports\": [], \"num_reports\": 0, \"ups\": 1}}]}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "591.0",
          "x-ratelimit-reset": "414",
          "x-ratelimit-used": "9"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/comment/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-12T18:23:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&how=yes&id=t1_dcc9snh&sticky=True"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      },
      "response": {
        "body": {
          "e[...]
    {
      "recorded_at": "2017-01-12T18:23:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_5e7w80&spam=False"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/remove/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "414",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/remove/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-12T18:23:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_5e7w80"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/lock/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "413",
          "x-ratelimit-used": "12"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/lock/?raw_json=1"
      }
    },
[...]
