{
  "http_interactions": [
    {
      "recorded_at": "2017-02-07T23:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8",
          "x-moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-02-07T23:34:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/about/reports/?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"domain\": \"self.ThirdRealm\", \"subreddit\": \"ThirdRealm\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"5sp15e\", \"media_embed\": {}, \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\": false, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"BJO_test_user\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"\", \"subreddit_id\": \"t5_390u2\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": \"\", \"title\": \"Test post for empty string report\", \"downs\": 0, \"archived\": false, \"removal_reason\": null, \"stickied\": false, \"is_self\": true, \"removed\": false, \"approved\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/ThirdRealm/comments/5sp15e/test_post_for_empty_string_report/\", \"locked\": false, \"name\": \"t3_5sp15e\", \"created\": 1486539195.0, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/5sp15e/test_post_for_empty_string_report/\", \"author_flair_text\": \"ayy .:lmao\", \"quarantine\": false, \"spam\": false, \"created_utc\": 1486510395.0, \"link_flair_text\": null, \"ups\": 1, \"mod_reports\": [[null, \"TheGrammarBolshevik\"]], \"visited\": false, \"num_reports\": 1, \"distinguished\": null}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "content-type": "application/json; charset=UTF-8",
          "x-moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=okCYxyV2oXmRMDKSFIJZl%2BEixB8tu9ntwgIhzQd3umZyOi9qteT7OJOK03LmtVagFrw9HaiTXUcxFI7jTAFDFmI9%2BwMXJkKn"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/about/reports/?limit=1024&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}