{
  "http_interactions": [
    {
      "recorded_at": "2017-06-25T00:55:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/about/rules?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"rules\": [{\"kind\": \"all\", \"description\": \"foobar\", \"short_name\": \"blah blah blah\", \"violation_reason\": \"bazinga\", \"created_utc\": 1453790512.0, \"priority\": 0, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Efoobar\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}, {\"kind\": \"comment\", \"description\": \"bar\", \"short_name\": \"foo\", \"violation_reason\": \"foo\", \"created_utc\": 1465781914.0, \"priority\": 1, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ebar\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}, {\"kind\": \"all\", \"description\": \"It has some **markdown**.\", \"short_name\": \"This is a sample rule.\", \"violation_reason\": \"This is a sample rule.\", \"created_utc\": 1479179608.0, \"priority\": 2, \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EIt has some \\u003Cstrong\\u003Emarkdown\\u003C/strong\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}], \"site_rules\": [\"Spam\", \"Personal and confidential information\", \"Threatening, harassing, or inciting violence\"]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "249",
          "x-ratelimit-used": "5",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=qFkUNavr0zBBf2OaPBV31q3Fixp4apNnb2WeDLmR3IZ79iY0k7gLioInw%2FHmo2AzCBxVNJU%2FxPDwGXda30YtmEkiH8JvLZ5t"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/about/rules?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t5\", \"data\": {\"user_is_contributor\": true, \"banner_img\": \"\", \"submit_text_html\": null, \"user_is_banned\": false, \"wiki_enabled\": true, \"show_media\": false, \"id\": \"390u2\", \"description\": \"\", \"submit_text\": \"\", \"display_name\": \"ThirdRealm\", \"header_img\": null, \"description_html\": null, \"title\": \"Frege's platonic heaven\", \"collapse_deleted_comments\": false, \"public_description\": \"\", \"over18\": false, \"public_description_html\": null, \"spoilers_enabled\": true, \"icon_size\": null, \"suggested_comment_sort\": null, \"active_user_count\": 6, \"icon_img\": \"\", \"header_title\": null, \"display_name_prefixed\": \"r/ThirdRealm\", \"user_is_muted\": false, \"submit_link_label\": null, \"accounts_active\": 6, \"public_traffic\": false, \"header_size\": null, \"subscribers\": 1, \"submit_text_label\": null, \"key_color\": \"\", \"lang\": \"en\", \"whitelist_status\": null, \"name\": \"t5_390u2\", \"created\": 1436378089.0, \"url\": \"/r/ThirdRealm/\", \"quarantine\": false, \"hide_ads\": false, \"created_utc\": 1436349289.0, \"banner_size\": null, \"user_is_moderator\": true, \"accounts_active_is_fuzzed\": false, \"advertiser_category\": null, \"user_sr_theme_enabled\": true, \"allow_images\": true, \"show_media_preview\": true, \"comment_score_hide_mins\": 0, \"subreddit_type\": \"private\", \"submission_type\": \"any\", \"user_is_subscriber\": false}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "594.0",
          "x-ratelimit-reset": "249",
          "x-ratelimit-used": "6",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=AmqIWTW7gitd5ehKZfsnpylVs0HlcfxOCE%2FEy0JVjCtfm587oNz1%2B6jvwU%2Fmo055e4Ak%2BuXlRJCBvgq8ziuQIj5RNdgbZ0WC"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/about/moderators/?unique=0&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1436349289.0, \"id\": \"t2_3221r\", \"name\": \"TheGrammarBolshevik\"}, {\"author_flair_css_class\": \"\", \"author_flair_text\": \"ayy lmao\", \"mod_permissions\": [\"all\"], \"date\": 1465092773.0, \"id\": \"t2_xw27h\", \"name\": \"<USERNAME>\"}, {\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1485809791.0, \"id\": \"t2_nmqzc\", \"name\": \"BernardJOrtcutt\"}, {\"author_flair_css_class\": null, \"author_flair_text\": null, \"mod_permissions\": [\"all\"], \"date\": 1497831441.0, \"id\": \"t2_16r83m\", \"name\": \"L72_Elite_Kraken\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "593.0",
          "x-ratelimit-reset": "249",
          "x-ratelimit-used": "7",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=FfWo%2FJm%2F1GVfiOTyMHOCPKf89Qd3H7bQNsAbIhXIvATi2an%2FJxCASG8yRbCjCOhKh%2Bz0hWPgRC3LDS21TcVBHxz5%2Bf%2BYwHjw"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/ThirdRealm/about/moderators/?unique=0&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/about/reports/?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"contest_mode\": false, \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"ThirdRealm\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"saved\": false, \"id\": \"6jbn4r\", \"view_count\": 1, \"secure_media_embed\": {}, \"clicked\": false, \"score\": 1, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"BJO_test_user\", \"link_flair_text\": null, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"approved_by\": null, \"over_18\": false, \"domain\": \"self.ThirdRealm\", \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"\", \"subreddit_id\": \"t5_390u2\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": \"\", \"gilded\": 0, \"title\": \"This post will be watched by automod.\", \"downs\": 0, \"brand_safe\": false, \"archived\": false, \"removal_reason\": null, \"stickied\": false, \"can_gild\": true, \"is_self\": true, \"removed\": false, \"approved\": false, \"hide_score\": false, \"spoiler\": false, \"permalink\": \"/r/ThirdRealm/comments/6jbn4r/this_post_will_be_watched_by_automod/\", \"subreddit_type\": \"private\", \"locked\": false, \"name\": \"t3_6jbn4r\", \"created\": 1498380908.0, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/6jbn4r/this_post_will_be_watched_by_automod/\", \"author_flair_text\": \"ayy .:lmao\", \"quarantine\": false, \"spam\": false, \"created_utc\": 1498352108.0, \"ups\": 1, \"media\": null, \"ignore_reports\": false, \"mod_reports\": [[\"watch\", \"<USERNAME>\"]], \"visited\": false, \"num_reports\": 1, \"is_video\": false, \"distinguished\": null}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "248",
          "x-ratelimit-used": "8",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=OmSn7xld7VWxMT91DZbZsFbj5nFZFmn0BKa5cRH0qQe0gWVdY78tzHw27lh%2F0xA8Tvp52K8e4Yd%2FdYDamVp0XE3xIowV0GsI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/ThirdRealm/about/reports/?limit=1024&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&id=t3_6jbn4r"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/approve/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "591.0",
          "x-ratelimit-reset": "248",
          "x-ratelimit-used": "9"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/approve/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/wiki/revisions/config/automoderator?limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"timestamp\": 1498380858.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"features\": {\"do_not_track\": true, \"show_amp_link\": true, \"live_happening_now\": true, \"adserver_reporting\": true, \"give_hsts_grants\": true, \"legacy_search_pref\": true, \"listing_service_rampup\": true, \"mobile_web_targeting\": true, \"default_srs_holdout\": {\"owner\": \"relevance\", \"variant\": \"popular\", \"experiment_id\": 171}, \"adzerk_do_not_track\": true, \"users_listing\": true, \"show_user_sr_name\": true, \"whitelisted_pms\": true, \"sticky_comments\": true, \"upgrade_cookies\": true, \"ads_prefs\": true, \"block_user_by_report\": true, \"ads_auto_refund\": true, \"orangereds_as_emails\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"expando_events\": true, \"eu_cookie_policy\": true, \"utm_comment_links\": true, \"force_https\": true, \"mobile_native_banner\": true, \"post_to_profile_beta\": true, \"reddituploads_redirect\": true, \"outbound_clicktracking\": true, \"new_loggedin_cache_policy\": true, \"inbox_push\": true, \"scroll_events\": true, \"https_redirect\": true, \"search_dark_traffic\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"pause_ads\": true, \"programmatic_ads\": true, \"geopopular\": true, \"show_recommended_link\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"ads_auction\": true, \"screenview_events\": true, \"new_report_dialog\": true, \"moat_tracking\": true, \"subreddit_rules\": true, \"mobile_settings\": true, \"adzerk_reporting_2\": true, \"activity_service_write\": true, \"ads_auto_extend\": true, \"interest_targeting\": true, \"post_embed\": true, \"new_ads_styles\": {\"owner\": \"cheddar\", \"variant\": \"control_1\", \"experiment_id\": 27}, \"geopopular_gb\": {\"owner\": \"relevance\", \"variant\": \"control_2\", \"experiment_id\": 196}, \"adblock_test\": true, \"activity_service_read\": true}, \"is_friend\": false, \"pref_no_profanity\": true, \"is_suspended\": false, \"subreddit\": null, \"is_sponsor\": false, \"gold_expiration\": null, \"id\": \"xw27h\", \"suspension_expiration_utc\": null, \"verified\": false, \"new_modmail_exists\": false, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"has_mod_mail\": false, \"hide_from_robots\": false, \"modhash\": null, \"link_karma\": 14, \"inbox_count\": 0, \"pref_top_karma_subreddits\": null, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"<USERNAME>\", \"created\": 1463125978.0, \"gold_creddits\": 0, \"created_utc\": 1463097178.0, \"in_beta\": false, \"comment_karma\": 0, \"has_subscribed\": true}}, \"page\": \"config/automoderator\", \"id\": \"d1a6ae1a-5940-11e7-88e9-0aa6b855077e\"}], \"after\": \"WikiRevision_d1a6ae1a-5940-11e7-88e9-0aa6b855077e\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "590.0",
          "x-ratelimit-reset": "248",
          "x-ratelimit-used": "10",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=kPyOKFIa%2BL6gHRVrONEwisCZ3eSxAad0YNq0IaGNbyecWM0wPO1xWRbSaJVI2iVHK2xDPk19KICIyi6jDTtL0cfroHCz0RSL"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/ThirdRealm/wiki/revisions/config/automoderator?limit=1&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-06-25T00:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/wiki/config/automoderator?v=d1a6ae1a-5940-11e7-88e9-0aa6b855077e&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1498380858.0, \"content_html\": \"\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"features\": {\"do_not_track\": true, \"show_amp_link\": true, \"live_happening_now\": true, \"adserver_reporting\": true, \"give_hsts_grants\": true, \"legacy_search_pref\": true, \"listing_service_rampup\": true, \"mobile_web_targeting\": true, \"default_srs_holdout\": {\"owner\": \"relevance\", \"variant\": \"popular\", \"experiment_id\": 171}, \"adzerk_do_not_track\": true, \"users_listing\": true, \"show_user_sr_name\": true, \"whiteli[...]
    {
      "recorded_at": "2017-06-25T00:55:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=++++author%3A+%5Bdo%21not%21remove%21watchlist%2C+BJO_test_user%2C+%5D%0D%0A++++action%3A+report%0D%0A++++action_reason%3A+%22Possibly+a+spy.%22&page=config%2Fautomoderator&previous=d1a6ae1a-5940-11e7-88e9-0aa6b855077e"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/ThirdRealm/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "248",
          "x-ratelimit-used": "12"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/ThirdRealm/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}