{
  "http_interactions": [
    {
      "recorded_at": "2018-05-04T13:34:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-05-04T13:34:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/8gz54v/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"ThirdRealm\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Test post with sp\\u00e9cial characters\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_8gz54v\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"private\", \"ups\": 1, \"domain\": \"self.ThirdRealm\", \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"secure_media\": null, \"is_reddit_media_domain\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"ignore_reports\": false, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"view_count\": 3, \"author_flair_richtext\": [], \"is_self\": true, \"mod_note\": null, \"created\": 1525468419.0, \"link_flair_type\": \"text\", \"wls\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"contest_mode\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"previous_visits\": [1525439800.0], \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"media\": null, \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"rte_mode\": \"markdown\", \"visited\": false, \"num_reports\": 0, \"distinguished\": null, \"subreddit_id\": \"t5_390u2\", \"mod_reason_by\": null, \"removal_reason\": null, \"id\": \"8gz54v\", \"report_reasons\": [], \"author\": \"BJO_test_user\", \"num_crossposts\": 0, \"num_comments\": 4, \"send_replies\": true, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/ThirdRealm/comments/8gz54v/test_post_with_sp\\u00e9cial_characters/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/8gz54v/test_post_with_sp\\u00e9cial_characters/\", \"subreddit_subscribers\": 1, \"created_utc\": 1525439619.0, \"mod_reports\": [], \"is_video\": false}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"ups\": 1, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_8gz54v\", \"author_flair_template_id\": null, \"likes\": true, \"no_follow\": false, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dyfr5sk\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t3_8gz54v\", \"score\": 1, \"approved_by\": null, \"ignore_reports\": false, \"downs\": 0, \"body\": \"sample_text\\n\\n-----\\n\\nI am a bot. Please do not reply to this message, as it will go unread. Instead, [contact the moderators](https://www.reddit.com/message/compose?to=%2Fr%2Fthirdrealm\\u0026message=Post%20in%20question:%20https%253A//www.reddit.com/r/ThirdRealm/comments/8gz54v/test_post_with_sp%25C3%25A9cial_characters/) with questions or comments.\", \"edited\": false, \"author_flair_css_class\": null, \"collapsed\": false, \"author_flair_richtext\": [], \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Esample_text\\u003C/p\\u003E\\n\\n\\u003Chr/\\u003E\\n\\n\\u003Cp\\u003EI am a bot. Please do not reply to this message, as it will go unread. Instead, \\u003Ca href=\\\"https://www.reddit.com/message/compose?to=%2Fr%2Fthirdrealm\\u0026amp;message=Post%20in%20question:%20https%253A//www.reddit.com/r/ThirdRealm/comments/8gz54v/test_post_with_sp%25C3%25A9cial_characters/\\\"\\u003Econtact the moderators\\u003C/a\\u003E with questions or comments.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"spam\": false, \"stickied\": true, \"subreddit_type\": \"private\", \"can_gild\": false, \"removed\": false, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/ThirdRealm/comments/8gz54v/test_post_with_sp\\u00e9cial_characters/dyfr5sk/\", \"num_reports\": 0, \"name\": \"t1_dyfr5sk\", \"created\": 1525469595.0, \"subreddit\": \"ThirdRealm\", \"author_flair_text\": null, \"rte_mode\": \"markdown\", \"created_utc\": 1525440795.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"controversiality\": 0, \"depth\": 0, \"author_flair_background_color\": null, \"mod_reports\": [], \"mod_note\": null, \"distinguished\": \"moderator\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"ups\": 1, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_8gz54v\", \"author_flair_template_id\": null, \"likes\": true, \"no_follow\": false, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"[...]
    {
      "recorded_at": "2018-05-04T13:34:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&text=sample_text%0A%0A-----%0A%0AI+am+a+bot.+Please+do+not+reply+to+this+message%2C+as+it+will+go+unread.+Instead%2C+%5Bcontact+the+moderators%5D%28https%3A%2F%2Fwww.reddit.com%2Fmessage%2Fcompose%3Fto%3D%252Fr%252Fthirdrealm%26message%3DPost%2520in%2520question%3A%2520https%253A%2F%2Fwww.reddit.com%2Fr%2FThirdRealm%2Fcomments%2F8gz54v%2Ftest_post_with_sp%25C3%25A9cial_characters%2F%29+with+questions+or+comments.&thing_id=t3_8gz54v"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/comment/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"distinguished\": null, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_8gz54v\", \"author_flair_template_id\": null, \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dyfr8r4\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"aut[...]
    {
      "recorded_at": "2018-05-04T13:34:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&how=yes&id=t1_dyfr8r4&sticky=True"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/distinguish/?raw_json=1"
      },
      "response": {
        "body": {
          "e[...]
