{
  "http_interactions": [
    {
      "recorded_at": "2017-01-04T22:02:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-01-04T22:02:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/wiki/config/automoderator?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1483596095.0, \"content_html\": \"\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"name\": \"TheGrammarBolshevik\", \"is_friend\": false, \"created\": 1198371931.0, \"hide_from_robots\": false, \"created_utc\": 1198343131.0, \"link_karma\": 4435, \"comment_karma\": 43283, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"id\": \"3221r\"}}, \"content_md\": \"    author: [test!placeholder,]\\r\\n    action: remove\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "599.0",
          "x-ratelimit-reset": "438",
          "x-ratelimit-used": "1",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=8oWT7A49oKSn1i2KytXQE0ivMFAf8l7wKERAqS0tbMdudOWnZrkM8mSqsxhbbpYq1rH65FQesCkRAornY5AEhO1WpAnbYBtj"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/wiki/config/automoderator?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-04T22:02:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=++++author%3A+%5Btest%21placeholder%2C+<USERNAME>%2C%5D%0D%0A++++action%3A+remove&page=config%2Fautomoderator"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/thirdrealm/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "438",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/api/wiki/edit/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-01-04T22:02:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/thirdrealm/wiki/config/automoderator?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1483596162.0, \"content_html\": \"\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"features\": {\"live_happening_now\": true, \"adserver_reporting\": true, \"mweb_xpromo_interstitial_fp_v2\": {\"variant\": \"speed\", \"experiment_id\": 116}, \"ads_auto_refund\": true, \"mweb_xpromo_interstitial_listing_android\": {\"variant\": \"control_1\", \"experiment_id\": 100}, \"mobile_web_targeting\": true, \"ads_auction\": true, \"adzerk_do_not_track\": true, \"whitelisted_pms\": true, \"sticky_comments\": true, \"upgrade_cookies\": true, \"ads_prefs\": true, \"mweb_xpromo_interstitial_listing_ios\": {\"variant\": \"control_1\", \"experiment_id\": 101}, \"legacy_search_pref\": true, \"orangereds_as_emails\": true, \"mweb_xpromo_interstitial_fp_ios\": {\"variant\": \"list\", \"experiment_id\": 99}, \"expando_events\": true, \"eu_cookie_policy\": true, \"utm_comment_links\": true, \"force_https\": true, \"mobile_native_banner\": true, \"do_not_track\": true, \"outbound_clicktracking\": true, \"image_uploads\": true, \"new_loggedin_cache_policy\": true, \"mweb_xpromo_interstitial_listing_v2\": {\"variant\": \"embedded\", \"experiment_id\": 117}, \"scroll_events\": true, \"https_redirect\": true, \"screenview_events\": true, \"pause_ads\": true, \"programmatic_ads\": true, \"give_hsts_grants\": true, \"new_report_dialog\": true, \"moat_tracking\": true, \"subreddit_rules\": true, \"mobile_settings\": true, \"adzerk_reporting_2\": true, \"activity_service_write\": true, \"ads_auto_extend\": true, \"interest_targeting\": true, \"post_embed\": true, \"new_ads_styles\": {\"variant\": \"control_1\", \"experiment_id\": 27}, \"mweb_xpromo_interstitial_fp_android\": {\"variant\": \"list\", \"experiment_id\": 98}, \"adblock_test\": true, \"activity_service_read\": true}, \"is_friend\": false, \"is_suspended\": false, \"gold_expiration\": null, \"id\": \"xw27h\", \"suspension_expiration_utc\": null, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"has_mod_mail\": false, \"hide_from_robots\": false, \"modhash\": null, \"link_karma\": 14, \"inbox_count\": 2, \"has_mail\": true, \"name\": \"<USERNAME>\", \"created\": 1463125978.0, \"gold_creddits\": 0, \"created_utc\": 1463097178.0, \"in_beta\": false, \"comment_karma\": 0}}, \"content_md\": \"    author: [test!placeholder, <USERNAME>,]\\r\\n    action: remove\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "438",
          "x-ratelimit-used": "3",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=rHzpPw1QSfKLuRyeuKDt%2Fd%2FwqdjZEWyYqtUR9qqSakp5x2kTnVR3pRYkyBAdrKeBrrZBDOge4MWqS8QUhAnqFgNmS3S6w8xL"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/thirdrealm/wiki/config/automoderator?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}