{
  "http_interactions": [
    {
      "recorded_at": "2017-10-17T22:13:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-10-17T22:13:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/5kgajm/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.ThirdRealm\", \"approved_at_utc\": null, \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"ThirdRealm\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": true, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"link_flair_text\": null, \"id\": \"5kgajm\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": true, \"clicked\": false, \"report_reasons\": [], \"author\": \"<USERNAME>\", \"num_crossposts\": 0, \"saved\": false, \"can_mod_post\": true, \"is_crosspostable\": false, \"pinned\": false, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 14, \"thumbnail\": \"\", \"subreddit_id\": \"t5_390u2\", \"hide_score\": false, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"contest_mode\": false, \"gilded\": 0, \"locked\": false, \"downs\": 0, \"brand_safe\": false, \"secure_media_embed\": {}, \"removal_reason\": null, \"spam\": false, \"can_gild\": false, \"is_self\": true, \"removed\": false, \"approved\": false, \"parent_whitelist_status\": null, \"name\": \"t3_5kgajm\", \"spoiler\": false, \"permalink\": \"/r/ThirdRealm/comments/5kgajm/a_test_post/\", \"num_reports\": 0, \"whitelist_status\": null, \"stickied\": false, \"created\": 1482821685.0, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/5kgajm/a_test_post/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"A test post\", \"created_utc\": 1482792885.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"distinguished\": null, \"media\": null, \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"mod_reports\": [], \"visited\": false, \"subreddit_type\": \"private\", \"is_video\": false, \"ups\": 1}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_5kgajm\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dbp7089\", \"banned_at_utc\": null, \"gilded\": 0, \"archived\": true, \"report_reasons\": [], \"author\": \"BJO_test_mod\", \"can_mod_post\": true, \"ups\": 1, \"parent_id\": \"t3_5kgajm\", \"score\": 1, \"approved_by\": null, \"downs\": 0, \"body\": \"sample_text\", \"edited\": false, \"author_flair_css_class\": \"\", \"collapsed\": false, \"is_submitter\": false, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Esample_text\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"stickied\": true, \"can_gild\": true, \"removed\": false, \"approved\": false, \"score_hidden\": false, \"subreddit_type\": \"private\", \"name\": \"t1_dbp7089\", \"created\": 1482916902.0, \"subreddit\": \"ThirdRealm\", \"author_flair_text\": \"ayy lmao\", \"spam\": false, \"created_utc\": 1482888102.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"controversiality\": 0, \"depth\": 0, \"ignore_reports\": false, \"mod_reports\": [], \"num_reports\": 0, \"distinguished\": \"moderator\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"banned_by\": \"BJO_test_mod\", \"removal_reason\": null, \"link_id\": \"t3_5kgajm\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"whitelist_status\": \"all_ads\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\":[...]
