{
  "http_interactions": [
    {
      "recorded_at": "2018-04-07T01:17:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-04-07T01:17:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/7fyr93/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"whitelist_status\": \"all_ads\", \"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": 1523063718, \"subreddit\": \"ThirdRealm\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Test post\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"hidden\": false, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_7fyr93\", \"mod_reports_dismissed\": [[\"mm\", \"<USERNAME>\"]], \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"private\", \"ups\": 1, \"domain\": \"self.ThirdRealm\", \"media_embed\": {}, \"thumbnail_width\": null, \"is_original_content\": false, \"secure_media\": null, \"is_reddit_media_domain\": false, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 1, \"approved_by\": \"<USERNAME>\", \"ignore_reports\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_richtext\": [], \"author_flair_css_class\": null, \"brand_safe\": false, \"is_self\": true, \"mod_note\": null, \"created\": 1511847878.0, \"link_flair_type\": \"text\", \"banned_by\": null, \"author_flair_type\": \"text\", \"contest_mode\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": 1, \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"media\": null, \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"rte_mode\": \"markdown\", \"visited\": false, \"num_reports\": -1, \"distinguished\": null, \"subreddit_id\": \"t5_390u2\", \"mod_reason_by\": null, \"removal_reason\": null, \"id\": \"7fyr93\", \"report_reasons\": [], \"author\": \"BJO_test_user\", \"num_crossposts\": 0, \"num_comments\": 2, \"send_replies\": true, \"approved\": true, \"author_flair_text_color\": null, \"permalink\": \"/r/ThirdRealm/comments/7fyr93/test_post/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/ThirdRealm/comments/7fyr93/test_post/\", \"subreddit_subscribers\": 1, \"created_utc\": 1511819078.0, \"mod_reports\": [], \"is_video\": false}}], \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"after\": null, \"whitelist_status\": \"all_ads\", \"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"ups\": 1, \"mod_reason_by\": null, \"banned_by\": \"TheGrammarBolshevik\", \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_7fyr93\", \"likes\": null, \"no_follow\": true, \"replies\": {\"kind\": \"Listing\", \"data\": {\"after\": null, \"whitelist_status\": \"all_ads\", \"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_390u2\", \"approved_at_utc\": null, \"ups\": 1, \"mod_reason_by\": null, \"banned_by\": \"TheGrammarBolshevik\", \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_7fyr93\", \"likes\": null, \"no_follow\": true, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"dqfauz5\", \"banned_at_utc\": 1511819119, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"BJO_test_user\", \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t1_dqfauuu\", \"score\": 1, \"approved_by\": null, \"ignore_reports\": false, \"downs\": 0, \"body\": \"Test reply\", \"edited\": false, \"author_flair_css_class\": null, \"collapsed\": false, \"author_flair_richtext\": [], \"is_submitter\": true, \"collapsed_reason\": null, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest reply\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"spam\": false, \"stickied\": false, \"subreddit_type\": \"private\", \"can_gild\": true, \"removed\": true, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/ThirdRealm/comments/7fyr93/test_post/dqfauz5/\", \"num_reports\": 0, \"name\": \"t1_dqfauz5\", \"created\": 1511847887.0, \"subreddit\": \"ThirdRealm\", \"author_flair_text\": null, \"rte_mode\": \"markdown\", \"created_utc\": 1511819087.0, \"subreddit_name_prefixed\": \"r/ThirdRealm\", \"controversiality\": 0, \"depth\": 1, \"author_flair_background_color\": null, \"mod_reports\": [], \"mod_note\": null, \"distinguished\": null}}], \"before\": null}}, \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"dqfauuu\", \"banned_at_utc\": 1511819119, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"report_reasons\": [], \"author\": \"BJO_test_user\", \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t3_7fyr93\", \"score\": 1, \"approved_by\": null, \"ign[...]
    {
      "recorded_at": "2018-04-07T01:17:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&body=Test+body&isAuthorHidden=True&srName=thirdrealm&subject=Test+subject&to=BJO_test_user"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"conversation\": {\"isAuto\": false, \"objIds\": [{\"id\": \"5n6g3\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": false, \"lastModUpdate\": \"2018-04-07T01:17:13.378199+00:00\", \"lastUpdated\": \"2018-04-07T01:17:13.378199+00:00\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": true, \"id\": 56923181, \"isDeleted\": false}], \"owner\": {\"displayName\": \"ThirdRealm\", \"type\": \"subreddit\", \"id\": \"t5_390u2\"}, \"id\": \"3hiou\", \"isHighlighted\": false, \"subject\": \"Test subject\", \"participant\": {}, \"state\": 0, \"lastUnread\": null, \"numMessages\": 1}, \"messages\": {\"5n6g3\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>Test body</p>\\n</div><!-- SC_ON -->\", \"author\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"<USERNAME>\", \"isOp\": true, \"isParticipant\": false, \"isHidden\": true, \"id\": 56923181, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"2018-04-07T01:17:13.378199+00:00\", \"bodyMarkdown\": \"Test body\", \"id\": \"5n6g3\"}}, \"modActions\": {}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "595.0",
          "x-ratelimit-reset": "167",
          "x-ratelimit-used": "5"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}